NEXT_PUBLIC_USE_UPGRADE_INSECURE_REQUESTS=false

NEXT_PUBLIC_URL=https://localhost:3000

# NEXT_PUBLIC_API_DOMAIN=http://my-portofolio.test
# NEXT_PUBLIC_API_URL=http://my-portofolio.test/api
# NEXT_PUBLIC_API_KEY='zZ3P2zpX6AIPPOSG1QSBWmKoSpsBFUCSBAJckbWO'

# NEXT_PUBLIC_MAIN_DOMAIN=http://my-portofolio.test
# NEXT_PUBLIC_ALL_MAIN_DOMAIN=http://*.my-portofolio.test

NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX